<%= form_for [@namespace, @page], html: {
  class: 'form', data: { upload: @page.persisted? ? namespace_page_uploads_path(@namespace, @page) : '' }
} do |f| %>
  <%= render 'common/errors', resource: @page %>

  <div class='field'>
    <%= f.label :slug, 'ID' %>
    <%= f.text_field :slug, required: true %>
  </div>

  <div class='field'>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: 'Title', autofocus: true %>
  </div>

  <div class='submit'>
    <% if @page.persisted? %>
      <%= link_to 'Delete', [@namespace, @page], method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-dangerous' %>
    <% end %>

    <%= f.submit 'Save' %>
  </div>
<% end %>
