<%= form_for([@namespace, @page]) do |f| %>
  <%= render 'common/errors', resource: @page %>

  <%= f.hidden_field :slug %>

  <div class='form-field'>
    <%= f.text_field :title, placeholder: 'Title' %>
  </div>

  <div class='form-field'>
    <%= f.text_area :content, placeholder: 'Page Content', rows: 20 %>
  </div>

  <div class='form-actions'>
    <%= f.submit 'Save' %>
  </div>
<% end %>
