<% content_for(:title) { @namespace.name } %>

<% if @namespace.locked? %>
  <div class='namespace-state'>
    <%= material_icon.lock.md_18 %>
  </div>
<% end %>

<% content_for :breadcrumb do %>
  <%= link_to 'Root', :root %>
  <%= content_tag :span, @namespace %>
<% end %>

<% content_for :contextual do %>
  <% toggled_status(params[:status]).tap do |status| %>
    <%= link_to "View #{status.titleize}", namespace_path(@namespace, status: status) %>
  <% end %>
  <%= link_to 'Settings', edit_namespace_path(@namespace) %>
  <%= render 'search/form' %>
<% end %>

<% content_for :actions do %>
  <%= link_to material_icon.shuffle, random_namespace_pages_path(@namespace) %>
<% end %>

<% if logged_in? %>
  <div class='page-add'>
    <div
      class='page js-page-editor'
      data-url='<%= url_for [@namespace, Page.new] %>'
      data-autosave='false'
      data-create='true'
    >
      <!-- Rendered client-side -->
    </div>
  </div>
<% end %>

<div class='pages'>
  <% @pages.each do |page| %>
    <%= render 'stub', namespace: @namespace, page: page %>
  <% end %>
</div>

<%= paginate @pages %>
