<% content_for(:title) { "#{@namespace} / #{@page}" } %>

<%= content_for :breadcrumb do %>
  <%= link_to 'Root', :root %>
  <%= link_to @namespace, @namespace %>
  <%= content_tag :span, @page %>
<% end %>

<%= content_for :actions do %>
  <%= link_to 'Settings', edit_namespace_page_path(@namespace, @page) %>
  <%#= link_to 'Versions', namespace_page_versions_path(@namespace, @page) %>
  <%= link_to 'Uploads', namespace_page_uploads_path(@namespace, @page), class: 'js-page-uploads' %>
  <%= content_tag :span, 'Saved', class: 'js-page-status' %>
<% end %>

<script type='text/javascript'>
  window.BOOTSTRAP.editor = {
    delta: <%= @page.delta.to_json.html_safe %>
  };
</script>

<div class='page'>
  <div
    class='js-page-editor'
    data-url='<%= url_for [@namespace, @page] %>'>
    <%= @page.html.try(:html_safe) unless @page.delta.present? %>
  </div>
</div>
