<%= form_for(@namespace) do |f| %>
  <% if @namespace.errors.any? %>
    <div id='error-explanation'>
      <h2>
        <%= pluralize(@namespace.errors.count, 'error') %> prohibited this namespace from being saved:
      </h2>
      <ul>
        <% @namespace.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-field'>
    <%= f.text_field :name, placeholder: 'Name', value: params[:name] %>
  </div>

  <div class='form-actions'>
    <%= f.submit %>
  </div>
<% end %>
