<%= form_for @namespace, html: { class: 'form' } do |f| %>
  <%= render 'common/errors', resource: @namespace %>

  <div class='field'>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'Name', value: @namespace.name || params[:name], autofocus: true, required: true %>
  </div>

  <div class='field'>
    <%= f.label :state, 'Privacy' %>
    <%= f.select :state, [['Published', :published], ['Locked', :locked]] %>
  </div>

  <div class='submit'>
    <%= f.submit 'Save' %>
  </div>
<% end %>
