<% content_for(:title) { 'Root' } %>

<% content_for :breadcrumb do %>
  <%= content_tag :span, 'Root' %>
<% end %>

<% content_for :actions do %>
  <%= link_to 'Create Namespace', new_namespace_path %>
<% end %>

<div class='namespaces'>
  <% @namespaces.each do |namespace| %>
    <%= link_to namespace, class: "item item--#{namespace.state}" do %>
      <div class='item__title'>
        <%= namespace %>

        <% if namespace.locked? %>
          [<%= namespace.state %>]
        <% end %>
      </div>

      <div class='item__meta'>
        <%= time_tag namespace.updated_at, class: 'item__updated-at' do %>
          <% if namespace.updated_at.between?(3.days.ago, Time.now) %>
            Updated <%= time_ago_in_words namespace.updated_at %> ago
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
