<% content_for(:title) { @namespace.name } %>

<nav class='actions'>
  <%= link_to 'A', :root %>
  <span>/</span>
  <%= link_to 'Δ', edit_namespace_path(@namespace), class: 'js-namespace-edit' %>
  <span>|</span>
  <%= link_to '+', new_namespace_page_path(@namespace) %>
</nav>

<ul>
  <%= content_tag_for :li, @pages do |page| %>
    <%= link_to page, namespace_page_path(@namespace, page) %>
  <% end %>
</ul>
