<% content_for(:title) { "#{@namespace} / #{@page} / Uploads" } %>

<%= content_for :breadcrumb do %>
  <%= link_to 'Root', :root %>
  <%= link_to @namespace, @namespace %>
  <%= link_to @page, [@namespace, @page] %>
  <%= content_tag :span, 'Uploads' %>
<% end %>

<div class='uploads'>
  <%= div_for @uploads do |upload| %>
    <%= link_to upload.key, upload.qualified %>
  <% end %>
</div>
